body {
  margin: 0;
}

.tab {
  width: 100px;
  height: 50px;
  border: 1px solid gray;
  cursor: pointer;
}

.tab--pinned {
  width: 50px;
}

.tab-list {
  display: flex;
  user-select: none;
}

.tab--selected {
  background-color: cyan;
}

.dragging-tab {
  background-color: white;
  position: absolute;
  user-select: none;
  cursor: pointer;
  box-shadow: 8px 0 11px -4px rgba(0, 0, 0, 0.1), -8px 0 4px -4px rgba(0, 0, 0, 0.1);
}

.tab-placeholder {
  background-color: #d8d8d8;
}

.tab-context-menu__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.tab-context-menu {
  position: absolute;
  z-index: 1;
  background-color: white;
}

.tab-context-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.tab-context-menu__item {
  padding: 2px;
}

.tab-context-menu__item:hover {
  background-color: cyan;
}
