body {
  margin: 0;
}

.tab {
  width: 100px;
  height: 50px;
  border: 1px solid gray;
  cursor: pointer;
}

.tab-list {
  display: flex;
  user-select: none;
}

.tab-selected {
  background-color: cyan;
}

.dragging-tab {
  background-color: magenta;
  position: absolute;
  user-select: none;
  cursor: pointer;
}

.tab-placeholder {
  width: 100px;
}
