body {
  margin: 0;
}

.tab {
  width: 100px;
  height: 50px;
  border: 1px solid gray;
  cursor: pointer;
}

.tab-list {
  display: flex;
  user-select: none;
}

.tab-selected {
  background-color: cyan;
}

.dragging-tab {
  background-color: white;
  position: absolute;
  user-select: none;
  cursor: pointer;
  box-shadow: 8px 0 11px -4px rgba(0, 0, 0, 0.1), -8px 0 4px -4px rgba(0, 0, 0, 0.1);
}

.tab-placeholder {
  width: 100px;
  background-color: #d8d8d8;
}

.tab-context-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.tab-context-menu--active {
  display: block;
}

.tab-context-menu__list {
  list-style: none;
}

.tab-context-menu__item {
  border: 1px solid gray;
}
