body {
  margin: 0;
}

.root-app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tabs-container {
  width: 80%;
  padding-top: 50px;
}

.tab--pinned {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: white;
}

.tab-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-info {
  display: flex;
}

.tab-titles {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  white-space: nowrap;
}

.tab-title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  line-height: 14px;
}

.tab-subtitle {
  margin: 0;
  font-size: 11px;
  line-height: 12px;
  font-size: 10.8px;
  line-height: 14px;
}

.tab-logo-svg {
  width: 20px;
  height: 20px;
}

.tab-list {
  flex: 1;
  display: flex;
  user-select: none;
  color: rgb(85, 85, 85);
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 80%;
}

.tab {
  background-color: white;
  border-right: 1px solid #E3E3E3;
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 250px;
  min-width: 100px;
  cursor: pointer;
  box-sizing: border-box;
}

.tab:hover {
  background-color: #F8F8F8;
}


.moving-tab {
  top: 0;
  position: fixed;
  user-select: none;
  box-shadow: 8px 0 11px -4px rgba(0, 0, 0, 0.1), -8px 0 4px -4px rgba(0, 0, 0, 0.1);
}

.hidden {
  visibility: hidden;
}

.drop-preview {
  background-color: #dddddd;
}

.pin-drop-preview {
  background-color: white;
}

.tab-context-menu {
  position: fixed;
  z-index: 1;
  background-color: white;
}

.tab-context-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

.tab-context-menu__item {
  overflow: hidden;
}

.tab-context-menu__item:hover {
  background-color: #30aabc;
  color: white;
}

.tab-context-menu__item:first-child {
  border-radius: 4px 4px 0 0;
}

.tab-context-menu__item:last-child {
  border-radius: 0 0 4px 4px;
}

.tab-context-menu__divider {
  background-color: #DDDDDD;
  height: 1px;
}

.tab-context-menu__button {
  width: 100%;
  border: 0px;
  background-color: inherit;
  text-align: left;
  padding: 5px;
  color: inherit;
}

.tab-close {
  padding: 5px 6px;
  height: 20px;
  width: 20px;
  color: #777777;
  border-radius: 30px;
  opacity: 1;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.accessible-hidden-text {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  position: absolute;
}

.tab-close-svg {
  width: 7px;
  height: 7px;
}

#reorderable-placeholder {
  cursor: move;
  z-index: 2;
  height: 50px;
}

[data-reorderable-index] {
}

.add-tab {
  border: none;
  font-size: 12px;
  line-height: 14px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  border-right: 1px solid #dddddd;
}

.tab--selected {
  background-color: #f8f8f8;
}

.language-info {
  padding: 20px;
}

.tab-invisible-link {
  text-decoration: none;
  color: inherit;
}
